$textColor: #9B9B9B

*
  border: solid 1 black

.App__hobycard__card
  height: stretch
  overflow: hidden

.App__hobbycard__imagecanvas__picture
  width: 100vw
  margin-top: 5vh

.App__hobycard__card
  width: 90vw
  margin: 5vw

.App__hobycard__card__title
  font-size: 20px
  text-align: left
  color: $textColor

.App__hobycard__card__description
  font-size: 15px
  text-align: left
  color: $textColor

.App__nohobbies__text
  margin: 50vw 5vw 5vw 5vw
  color: $textColor
  text-align: center
