.App__navbar
  display: flex
  flex-direction: row


.App__navbar__currentview
  width: 90vw

.App__logo__menu__tomenu__icon
  margin: 5vw
  height: 7vw

.App__navbar__currentview
  font-size: 1.2em
  padding-left: 22vw
  text-align: left
  line-height: 7vh
  color: #9B9B9B
